body {
	font-family: "Bitstream Vera sans", sans-serif;
	font-size: 12pt;
	color: #334;
	background: #f7fcfc;
}
a { color: #203050; font-weight: bold;}
a:hover { color: #506080; text-decoration: none; font-weight: bold;}

a.top {
	font-size: 8pt;
	margin-left: 1em;
	margin-right: 1em;
	float: right;
}

h1 {
	font-family: serif;
	font-size: 3em;
	color: #080303;
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 2px solid #080303;
}
h1 .small { font-size: 0.4em; }

h2 {
	font-size: 2em;
	color: #080303;
	margin: 0;
}

#header {
	width: 800px;
	margin: 1em auto;
	padding: .5em;
	border: 1px solid #a0a0a0;
	background: #efefef;
	border-radius: 10px; -moz-border-radius: 10px;
}

#main-nav {
	margin: 0;
	float: right;
}

#main-nav li {
	display:inline;
	margin-right: 1em;
}

#nav {
	width: 800px;
	margin: 1em auto;
	border: 1px solid #a0a0a0;
	background: #efefef;
	border-radius: 10px; -moz-border-radius: 10px;
}

#nav ul {
	margin: 0;
}

#nav li {
	display:inline;
}

#nav li a {
	display: inline-block;
	padding: 5px 10px;
	border: solid #a0a0a0;
	border-width: 0 1px;
	background: #ffffff;
	text-decoration:none;
}
#nav li a:hover {
	background: #a0a0a0;
	color: #101010;
}

.outer-block {
	width: 800px;
	margin: 1em auto;
	padding: 0 0 0 1em;
}

.arglist {
	color: #102040;
}

.arguments, .returns, .example {
	font-weight: bold;
}
.example p {
	font-weight: normal;
}
.example img {
	border: 1px solid #a0a0a0;
	margin-left: 2em;
}

h3, .preamble, .text-block, .overview, .ref-block, .tut-block, .section-block {
	border: 1px solid #aaa;
	border-radius: 5px; -moz-border-radius: 5px;
	padding: .2em .5em;
	background: #fff;
	margin: 1em .2em;
}

h3 {
	color: #050A10;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: -.5em;
}

.preamble {
	margin-top: -1em;
}

.text-block, .section-block {
	margin-bottom: 2em;
}

h4 {
	color: #444;
	font-size: 1em;
	margin: 0;
	font-weight: bold;
}

.overview h4 {
	color: #405070;
	font-size: 1.2em;
}

.ref-block h4 .name {
	color: #721;
}

.ref-block h4 .arglist {
	color: #151;
}

dl {
	margin-left: 2em;
	margin-top: .5em;
}
dt, dt a {
	color: #666;
}
dt code {
	font-size: 12pt;
	color: #151;
}
dd {
	font-weight: normal;
}

.overview dt {
	display: inline-block;
	float: left;
	width: 32%;
	font-weight: bold;
	color: #666;
}
.overview dd {
	display: block;
	margin: .2em 0;
}

strong {
	color: #D03000;
	font-weight: bold;
}

code {
	font-family: "Bitstream Vera Sans Mono", fixed;
	font-weight: bold;
	color: #333;
}
pre {
	border: 1px solid #aaa;
	border-radius: 5px; -moz-border-radius: 5px;
	background: #f8f8ff;
	padding: .2em;
	margin: 1em 2em;
	font-weight: normal;
	max-height: 450px; overflow: auto;
}
pre code {
	font-size: 11pt;
	color: black;
	border: 0;
	font-weight: normal;
}
pre code .function {
	background: #f8f8ff;
	border: 0;
	padding: 0;
	margin: 0;
}
